[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SRS"]
	path = SRS
	url = https://github.com/cran/SRS
	shallow = true
	registered = true
